{% extends "base.html" %}
{% block content %}
{% block title %}News{% endblock %}
<h2>News</h2>
<p>The latest news can be shown here, but its now only showing dummy text!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt natus odit eum alias porro in aspernatur, consectetur error dolorem veniam facere non laudantium, animi explicabo fuga. 
    Minus necessitatibus illo facilis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur ratione, 
    suscipit doloremque maiores fugit debitis sequi voluptatibus minus odit quo, dolorem eligendi consequuntur. Perspiciatis esse debitis laborum sunt amet in?</p>
{% endblock content %}
